.url-display {
  min-height: 120px;

  &.no-url {
    visibility: hidden;
  }
  .url {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}