{
  "presets": [
    ["@babel/preset-env",  {
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ],
  "env": {
    "development": {
      "presets": [
      ]
    }
  }
}
